# Ignore node_modules directory
node_modules

# Ignore build output
/dist/

# Ignore environment files
.env
/src/configs/ca.pem

# Ignore npm debug log
npm-debug.log

# Ignore yarn lockfile
yarn.lock

# Ignore editor directories and files
.idea/
.vscode/

# Ignore local TypeScript build output
/tsconfig.tsbuildinfo

# Ignore build artifacts and cache
.cache/
